body {
  font-family: Montserrat;
  visibility: hidden;
  clear: both;
  background-color: rgb(192, 208, 217);
  color: rgb(0, 118, 255);
}

.searchDiv {
  background-color: rgb(192, 208, 217);
  color: rgb(0, 118, 255);
  border-bottom: solid 2px white;
}

.logoImg {
  width: 300px;
  height: auto;
}

.searchDiv h1 {
  font-size: 3.5em;
}

.searchDiv h3 {
  font-style: italic;
}

#searchBox {
  font-size: 18px;
  color: green;
  border-radius: 5px;
}

.myButton {
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  background-color: rgb(232, 232, 232);
  color: rgb(0, 118, 255);
  border-radius: 5px;
  border: solid 1px rgb(0, 118, 255);
}

.cardsDiv {
  background-color: rgb(192, 208, 217);
  background-image: url(https://raw.githubusercontent.com/ptrchoi/FCC-Wikipedia-Viewer/master/images/Wikipedia-logo-transparent-200px.png);
  width: auto;
  height: 100%;
  background-repeat: repeat;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  margin: 5px;
  padding: 50px;
  width: 400px;
  height: auto;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  color: rgb(0, 118, 255);
}

.grid-item a {
  color: rgb(84, 199, 252);
  text-decoration: underline;
  font-style: italic;
}

.grid-item img {
  height: 100px;
  width: auto;
}


/* MOBILE SMALL 480 */

@media screen and (max-width: 480px) {
  .grid-item {
    width: 300px;
  }
  .searchDiv h1 {
    font-size: 1.8em;
  }
  .searchDiv h3 {
    font-size: 1.4em;
  }
}